<!DOCTYPE html>
<html>
  <head>
    <title>FakeCurrency</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless not user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger") %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Send money
      </button>
    <% end %>
    <%= yield %>
  </body>
</html>
